<!DOCTYPE html>
<html>
	<head>
		<title>Voter Data</title>
		<script type= "text/javascript" src= "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 
		{%block head %}
		<script type = "text/javascript" src = "/static/base.js"> </script>
		{%endblock%}

	</head>

	<body>
		<p>Hello world</p>
		
		<h2>Setting everything up for later</h2>

		<div id= "form">
			<form action="/school", method="post">
				
				<fieldset>

						<legend>Selecting elements</legend>
						<p>
							<label>Select list</list>
							<select id="myList">
								
									<option value = "1">one</option>
									<option value = "2">two</option>
									<option vlaue = "3">三</option>			
	
							</select>
						</p>		

				</fieldset>
				
				<input type="submit">					

			</form>
		</div>
	</body>





</html>
