<!DOCTYPE html>
<html>
	<head>
		<title>Voter Data</title>
		<script type= "text/javascript" src= "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 
		{%block head %}
		<script type = "text/javascript" src = "/static/base.js"> </script>
		{%endblock%}

	</head>

	<body>
		
		<h2>One at a Time</h2>

		<div id= "form">
			<form action="/school", method="post">
				
				<fieldset>

						<legend>Selecting elements</legend>
						<p>
							
							<label>Party</label>
							<select name="party">
								<option value = "">Don't care</option>
								{% for x in legend.party_code %}
								<p><\p>								
								<option value = {{x}}> {{x}}</option>
								{% endfor %}
							</select> 
<br>
														
							<label>Municipality</label>
							<select name = "municipality">
								<option value = "">Don't care</option>
								{%for x in legend.municipality%}
								<p></p>
								<option value={{x}}>{{x}}</option>
								{%endfor%}
							</select>								
						
<br>
							<label>Ward</label>
							<select name= "ward">
								<option value = "">Don't care</option>
								{%for x in legend.ward%}
								<p></p>
								<option value={{x}}>{{x}}</option>
								{%endfor%}
							</select>
<br>

							<label>District</label>
							<select name = "district">
								<option value = "">Don't care</option>
								{%for x in legend.district%}
								<p></p>
								<option value={{x}}>{{x}}</option>
								{%endfor%}
							</select>

<br>
							<label hidden >Congressional</label>

							<select name = "congressional" hidden>
								<option value = "">Don't care</option>
								{%for x in legend.congressional%}
								<p></p>
								<option value={{x}}>{{x}}</option>
								{%endfor%}
							</select>


							<br>							
							
							<label>Election  :    </label>
							<label>Year</label>
							<select name = "year">
								<option value = "">Don't care</option>
								{%for x in legend.year%}
								<p></p>
								<option value={{x}}>{{x}}</option>
								{%endfor%}
							</select>

							<label>Type</label>
							<select name = "type">
								<option value = "">Don't care</option>
								{%for x in legend.election_type%}
								<p></p>
								<option value={{x}}>{{x}}</option>
								{%endfor%}
							</select>
<br>
<lable>MUN=Municiple, ANS=Annual School, FIR=Fire, SPE=Special school, PRI=Primary, RUM=Run-off Municiple, GEN=General, REM=Recall Municiple</label>
						</p>		

				</fieldset>
				
				<input type="submit">					

			</form>

		{% block result%}
		{% endblock%}		

		</div>
	</body>





</html>
